
.grn{
 color: #188038;
}
/*<span class="green">*/

.blue{
 color: #1967D2;
}
/*<span class="blue">*/

.red{
 color: #D93025;
}
/*<span class="red">*/

.ylw{
 color: #FBBC04;
}
/*<span class="ylw">*/

.yt-orng{color: #ff4c1d;
}
/*<span class="yt-orng">*/}

.yt-ppl{color: #9b0063;
}
/*<span class="yt-ppl">*/}

/*
	--color-black: #000;
	--color-white: #fff;
	--color-blue: #1967D2;
	--color-green: #188038;
	--color-yellow: #FBBC04;
	--color-red: #D93025;
	--color-grey-25: #F8F8F8;
	--color-grey-50: #F2F2F2;
	--color-grey-100: #DCDBDB;
	--color-grey-200: #A09E9E;
	--color-grey-400: #636060;
	--color-grey-500: #423F3F;
	--color-grey-800: #191818;
	--color-grey-900: #050505;
	--color-yeti-orange: #ff4c1d;
	--color-yeti-purple: #9b0063;
	--color-whiskers-dark-blue: #1A1D27;
	*/