
@media (max-width: 960px) {
  .card {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .card {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .card {
    width: 300px;
  }
}

@media (max-width: 960px) {
  .card-grey {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .card-grey {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .card-grey {
    width: 300px;
  }
}